<div class="grid grid-cols-2 h-screen w-screen font-['Helvetica']">
  <div class="bg-[#fff] relative h-50 w-50"><div class="absolute inset-0 flex items-center justify-center text-[32px] font-bold">32px bold #ffffff</div></div>
  <div class="bg-[#ffb4b4] h-50 text-center text-[28px] font-medium">28px medium #FFB4B4</div>
  <div class="bg-[#d7f86c] h-50 text-[28px] font-medium flex items-end">28px medium #D7F86C</div>
  <div class="bg-[#65a0fe] h-50 relative"><div class="absolute inset-0 flex items-center justify-center text-[32px] font-bold">32px bold #65A0FE</div></div>
  <div class="absolute bottom-4 right-5 bg-[#d9d9d9] rounded-2xl font-bold px-10 pt-1 pb-0 border-2 border-black text-[32px]">Flotante</div>
</div>
<router-outlet></router-outlet>
